# Passwords
new_backend/app/group2.json

# venv + vscode
.venv/
venv/
.vscode/

# Useless
.ssh/
node_modules/
__pycache__/
*.pyc
new_backend/static/*
.env
*.log
.DS_Store
build/
dist/

# Shell scripts
build
run