body {
  background-color: #f0f0f0;
  align-items: center;
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #0f0f0f;
}

.container {
  min-width: 70vw;
  max-width: 10vh;
  max-height: 90vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.myButton {
  box-shadow: 2px 2px 0px 0px #3dc21b;
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color:#44c767;
  border-radius:15px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Georgia;
  font-size:25px;
  padding:7px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}