body {
  background-color: #f0f0f0;
  align-items: center;
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #0f0f0f;
}

p {
  font-size: 1.2rem;
  color: #555;
}

.container {
  min-width: 70vw;
  max-width: 10vh;
  max-height: 85vh;
  overflow: scroll;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.submit {
  box-shadow: 2px 2px 0px 0px #3dc21b;
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color:#44c767;
  border-radius:15px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Georgia;
  font-size:25px;
  padding:7px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-top: 20px;
}
.submit:hover {
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color:#5cbf2a;
}
.submit:active {
  position:relative;
  top:1px;
}


.food-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    margin-top: 20px;
}

.food-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent; /* For iOS Safari */
    position: relative; /* For positioning the remove button */
}
.food-item.meal-item {
    margin: 20px;
    padding: 35px;
}

.food-item:hover:not(.darkened) {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-image {
    width: 140px;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: transparent;
}

.food-name {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    font-weight: bold; /* Make the food name bold */
}
.food-name.notBold {
    font-weight: normal; /* Normal weight for non-bold names */
}

.food-type {
    font-size: 0.8rem; /* Smaller font size for the food type */
    color: #777; /* Grey color for the food type */
    text-align: center;
    margin-top: 5px; /* Add some space between the name and type */
}

.food-meal {
    font-size: 1.3rem;
    color: #333;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.food-item.green {
    background-color: #a7d1ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.food-item.red {
    background-color: #ffaaaa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.food-item.gold {
    background-color: #fff2b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Add the darkened style */
.food-item.darkened {
    opacity: 0.3; /* Reduce opacity */
    transition: opacity 0.3s ease;
}

.remove-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 3px;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.7); /* Grey with transparency */
    border: none;
    border-radius: 50%; /* Make it round */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #44c767;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease-in-out;
}

.notification.hide {
    animation: slideUp 0.5s ease-in-out;
}